/*
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


:root {
    --color-text: green;
    --color-light: pink;
    --color-main: yellow;
    --font-titles: 'Hedvig Letters Serif', serif;
    --font-text:'Instrument Sans', sans-serif;
    --max-width: 964px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {

    width: 100%;
    max-width: 100%;
}

a {

    text-decoration: none;
    color: inherit;
}

.btn {

    background-color: green;
    color: white;
}

.btn--green {
    background-color: black;
    color: white;
}

Dos opciones de escribir codigo. La primera mas largo y la segunda mas compacta

h1, .h1 {
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 64px;
    color: var(--color-text)
}

h4, .h4 {
    font: 500 19px var(--font-text);
    color: var(--color-text);
}

p {

    font: 300 20px var(--font-text);
    color: var(--color-light);
}

a, .link {
    font: 500 15px var(--font-text);
    padding: 16px;
    text-decoration: none;
    border-radius: 100px;
}

.section {
padding: 64px 16px;
}

.container {
    max-width: var(--max-width);
    margin-top: 0 auto;
}

*/

/* --------------------Primer ejercicio -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {

    --max-width: 964px;
    --font-titles: 'Hedvig Letters Serif', serif;
    --font-text: 'Instrument Sans', sans-serif;
    --color-titles: #000000;
    --color-text: #000000;
    --max-width-xl: 920px;
    --color-light: #E8EDF4;
    --color-main: rgb(73, 141, 181);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: var(--max-width);
    margin-top: 0 auto;
}


.header {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width-xl);
}

.header__logo {
    max-width: 92px;
}

.header__menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu__link {
    color: black;
}

.hero-banner {
    background-image: url(../Media/img/Home-banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-banner h4 {
    color: white;
}

.hero-banner h1 {
    color: white;
}

.hero-banner .btn {
    background-color: white;

    color: black;
    border-radius: 50px;
}

.hero-text__block {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    padding: 10px;
    align-items: start;
}

.icons-block__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 16px;
}

.card-block {
    padding: 64px 0px;
}

.card-title {
    display: flex;
    flex-flow: row nowrap;
}

.hero-text {
    padding: 64px 16px;
}

.hero-text__block {
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
    align-items: center;
    gap: 64px;
}

.hero-text__image {
    flex: 1 1 300px;

}

.hero-text_content {
    flex: 1 1 300px;
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    align-items: start;
}

.hero-text__titles {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.hero-text2 {

    display: flex;
}




/*-----------------------------------*/


.hero-section-3 {
    padding: 64px 0px;
}

.hero-section-3__content {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
    margin: 0 auto;
    gap: 16px;
    justify-content: start;
    align-items: start;

}

.hero-section-3__cards {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    padding: 16px 0px;
}


.card-3 {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 300px;
    gap: 16px;


}

.card-3_image img {
    border-radius: 5px;
    max-height: 178px;
    object-fit: cover;
}

.btn-3 {
    padding: 10px 32px;
    border-radius: 50px;
    background-color: black;
    color: white;
}

/*--------------------------------Tarjetas de planes---------------------------------------*/


.prices {
    padding: 64px 16px;
}

.prices__block {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    max-width: var(--max-width);
    margin: 0 auto;
}

.prices__card {
    
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 250px;
    padding: 32x;
    gap: 48px;
    border-radius: 5px;
    background-color: var(--color-light);

   
    }

.prices__heading {

    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    text-align: center;
    

}

.prices__list {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-flow: column nowrap;
    
    
}

.prices__item {
display: flex;
flex-flow: row nowrap;
gap: 20px;
align-items: center;
}

.btn-4 {

    display: flex;
}


/* Estilos Formulario 


.form-block {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    margin: 0 auto;
    max-width: var(--max-width);

}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
  
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.full_name {

    display: flex;
    gap:16px ;
}

.checkbox {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;

}

.form-block {

    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
}

.map {
    flex: 1 1 300px;
}

.formulario-block {
    flex: 1 1 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: enter;
}

input {
    border-radius: 100px;
}

*/



/*componentes input*/

input, select {
    padding: 16px 19px;
    border-radius: 100px;
    border: none;
    background-color: var(--color-light);
    color: var(--color-text);
    width: 100%;
}

input[type="submit"] {
    background-color: var(--color-main);
    color: var(--color-light);
}

.form-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
    padding: 0px;
    width: 100%;
    margin: 0 auto;
}

.contact__block {
    display: flex;
    flex-flow: row wrap;
    gap: 64px;
    margin: 0 auto;
    max-width: var(--max-width);
    margin: 0 auto;
}

.contact__map {
    flex: 1 1 300px;

    & iframe {
        width: 100%;
        height: 100%;
    }

}

.contact-form {
    display: flex;
    flex: 1 1 300px;
    flex-flow: column nowrap;
    gap: 32px;
   
}

.contact__heading {
    display: flex;
    flex-flow: column nowrap;
    gap: 14px;
}

form {
    display: flex;
    gap: 16px;
    flex-flow: column nowrap;
}

.acceptance {
    display: flex;
    flex-direction: row-reverse;

    & input {
        width: auto;
    }
}
















